<div id="page-content">
  <div class="container jumbotron-container" id="home-container">
    <div class="jumbotron text-center">
      <h1 class="welcome-banner">Welcome To AlphaBlogs</h1>
        <p class="slogan">Where You Can Find The Best Blogs To Bark About! BARK BARK!!</p>
          <div class="container btn-container" >
          <p class="lead">
            <%= link_to "Sign up", signup_url, class:"btn btn-dark btn-lg"%>
            </p>
            <p class="lead">
            <a class="btn btn-dark btn-lg" href="/articles" role="button">Log In</a>
            </p>
        </div>
    </div>
  </div>
</div>
