<div id="page-content">
<h1 class="text-center mt-4">Category: <%= @category.name%> </h1>
  <div class="text-center mt-4">
  <% if logged_in? && current_user.admin? %>
    <%= link_to "Edit Category Name", edit_category_path(@category.id), class: "btn btn-outline-dark"%>
  <% end %>
  </div>
  <div class="flickr_pagination">
    <%= will_paginate @articles,  :container => false %>
  </div>
<%= render 'articles/particles_folder/article'%>
</div>